.ui-dynatree-disabled ul.dynatree-container{
	opacity:0.5;
	background-color:silver;
}
.dynatree-exp-e span.dynatree-expander, 
.dynatree-exp-ed span.dynatree-expander,  
.dynatree-exp-el span.dynatree-expander, 
.dynatree-exp-edl span.dynatree-expander{
	background-position:-32px -80px;
}
.dynatree-exp-e span.dynatree-expander:hover,  
.dynatree-exp-ed span.dynatree-expander:hover, 
.dynatree-exp-el span.dynatree-expander:hover,  
.dynatree-exp-edl span.dynatree-expander:hover{
	background-position:-48px -80px;
}
.dynatree-loading span.dynatree-expander{
	background-position:0 0;
	background-image:url("loading.gif");
}
.dynatree-partsel span.dynatree-checkbox{
	background-position:-64px -32px;
}
.dynatree-partsel span.dynatree-checkbox:hover{
	background-position:-80px -32px;
}
.dynatree-selected span.dynatree-checkbox{
	background-position:-32px -32px;
}
.dynatree-selected span.dynatree-checkbox:hover{
	background-position:-48px -32px;
}
.dynatree-partsel span.dynatree-radio{
	background-position:-64px -48px;
}
.dynatree-partsel span.dynatree-radio:hover{
	background-position:-80px -48px;
}
.dynatree-selected span.dynatree-radio{
	background-position:-32px -48px;
}
.dynatree-selected span.dynatree-radio:hover{
	background-position:-48px -48px;
}
.dynatree-has-children span.dynatree-icon{
	background-image:url("./folder3.svg");
}
.dynatree-ico-cf span.dynatree-icon{
	background-image:url("./folder2.svg");
}
.dynatree-ico-ef span.dynatree-icon{
	background-position:-64px -16px;
}
.dynatree-statusnode-wait span.dynatree-icon{
	background-image:url("loading.gif");
}
.dynatree-statusnode-error span.dynatree-icon{
	background-position:0px -112px;
}

ul.dynatree-container{
	font-family:돋움;
	font-size:11pt;
	white-space:nowrap;
	padding:0 0 0 4px;
	margin:0;
	background-color:transparent;
	overflow:auto;
	height:100%;
}
ul.dynatree-container ul{
	padding:0 0 0 16px;
	margin:0;
}
ul.dynatree-container li{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background-attachment:scroll;
	background-color:transparent;
	background-position:0 0;
	background-repeat:repeat-y;
	background-image:none;
	margin:0;
	padding:5px 0 0 0;
}
ul.dynatree-container li.dynatree-lastsib{
	background-image:none;
}
ul.dynatree-no-connector > li{
	background-image:none;
}
span.dynatree-connector
span.dynatree-empty
span.dynatree-vline,
span.dynatree-expander,
span.dynatree-checkbox,
span.dynatree-radio,
span.dynatree-drag-helper-img,
#dynatree-drop-marker{
	width:16px;
	height:16px;
	display:inline-block;
	vertical-align:top;
	background-repeat:no-repeat;
	background-image:url("icons.png");
	background-position:0 0;
}
span.dynatree-icon{
	width:16px;
	height:16px;
	display:inline-block;
	vertical-align:top;
	background-repeat:no-repeat;
	background-image:url("./folder2.svg");
	background-position:0 0;
	margin-left:3px;
}
ul.dynatree-container img{
	width:16px;
	height:16px;
	margin-left:3px;
	vertical-align:top;
	border-style:none;
}
span.dynatree-connector{
	background-image:none;
}
span.dynatree-expander{
	background-position:0px -80px;
	cursor:pointer;
}
span.dynatree-expander:hover{
	background-position:-16px -80px;
}
span.dynatree-checkbox{
	margin-left:3px;
	background-position:0px -32px;
}
span.dynatree-checkbox:hover{
	background-position:-16px -632x;
}
span.dynatree-radio{
	margin-left:3px;
	background-position:0px -48px;
}
span.dynatree-radio:hover{
	background-position:-16px -48px;
}
ul.dynatree-container a{
	color:#212121;
	text-decoration:none;
	vertical-align:top;
	margin:0px;
	margin-left:3px;
	border:0px solid white;
	text-shadow:0px 1px 1px #fff;
}
ul.dynatree-container a:hover{
	background:#efefef;
	border:1px solid #b8d6fb;
}
span.dynatree-node a{
	display:inline-block;
	padding-left:3px;
	padding-right:3px;
}
ul.dynatree-container a:focus,
span.dynatree-focused a:link{
	background-color:#EFEBDE;
}
span.dynatree-selected a{
	font-style:normal;
}
span.dynatree-active a{
	border:1px solid #99DEFD;
	background-color:#D8F0FA;
}
div.dynatree-drag-helper a{
	border:1px solid gray;
	background-color:white;
	padding-left:5px;
	padding-right:5px;
	opacity:0.8;
}
span.dynatree-drag-helper-img{
}
div.dynatree-drag-helper{
}
div.dynatree-drop-accept span.dynatree-drag-helper-img{
	background-position:-32px -112px;
}
div.dynatree-drag-helper.dynatree-drop-reject{
	border-color:red;
}
div.dynatree-drop-reject span.dynatree-drag-helper-img{
	background-position:-16px -112px;
}
#dynatree-drop-marker{
	width:24px;
	position:absolute;
	background-position:0 -128px;
	margin:0;
}
#dynatree-drop-marker.dynatree-drop-after,
#dynatree-drop-marker.dynatree-drop-before{
	width:64px;
	background-position:0 -144px;
}
#dynatree-drop-marker.dynatree-drop-copy{
	background-position:-64px -128px;
}
#dynatree-drop-marker.dynatree-drop-move{
	background-position:-64px -128px;
}
span.dynatree-drag-source{
	background-color:#e0e0e0;
}
span.dynatree-drag-source a{
	color:gray;
}
span.dynatree-drop-target{
}
span.dynatree-drop-target a{
}
span.dynatree-drop-target.dynatree-drop-accept a{
	background-color:#3169C6 !important;
	color:white !important;
	text-decoration:none;
}
span.dynatree-drop-target.dynatree-drop-reject{
}
span.dynatree-drop-target.dynatree-drop-after a{
}

